html{
    font-size:100%;
    background-color:#eee;
    font-family: 'Lato', sans-serif;
    color:#666;
}
body{
    width:80%;
    padding:1rem;
    margin: 0 auto;
    max-width:1000px;
    background-color: #fff;
}
header{
    border-bottom:1px solid #eee;
}
h1{
    font-size:2.5rem;
    font-weight:400;
}
main p{
    font-size: 4.5rem;
    margin: 2rem auto;
    text-align: center;
}
footer p{
    text-align: center;
}
a{
    text-decoration: none;
    color:#fff;
}
footer a{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    color:#aaa;
}
footer a:hover{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; 
    color:#ff7f50;
}
.x, .y{
    font-weight: bold;
    color:#ff7f50;
}
.button a{
    display: block;
    background-color:#6495ed;
    text-align: center;
    padding:1rem;
    border-radius: 10px;
    width:20%;
    min-width:100px;
    margin:0 auto;
    font-size: 1.4em;
}
.button a:hover{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease; 
    background-color: #2E456D;
}
@media screen and (min-width: 460px) {

}